*{
    padding: 0px;
    margin: 0px 0px;
    border-radius: 0px;
    font-family: 'Bree Serif', 'serif';
}
#logo img{
    width: 90px;
}
#navbar{
    margin: 0px 10px;
    padding: 5px 20px;
    display: flex;
    background-color: black;
    border-radius: 15px;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;
    
}
#navbar ul li{
    font-size: 1.2em;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-family: 'Baloo Bhai 2', "cursive";
    font-size: 1.5rem;
    font-weight: bolder;
}
#navbar ul li a:hover{
    background-color: grey;
    border-radius: 10px;
    color: black;
}
/* #navbar::before{
    content: "";
    background-color: black;
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: -1;
    opacity: 1;
} */
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    font-size: 1.3rem;
    margin: 0px 16px;
    padding: 7px;
    font-family: 'Bree Serif', 'serif';
    color: white;
    position: relative;
    height: 400px;
}
#home::before{
    content: "";
    background: url("../foodimage.jpg") no-repeat center center /cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
}
#home h3{
    text-align: center;
    margin: 10px;
}
#home p{
    text-align: center;
}
/* Services section */
.services-container{
    margin-top: 25px;
}
#services{
    display: flex;
    /* border: 4px solid red; */
    width: 100%;
    height: 380px;
    margin-top: 15px;
    padding: 4px;
}
.box{
    border: 4px solid green;
    margin: 13px 37px;
    border-radius: 18px;
    background-color: rgb(180, 210, 180);
}
.box img{
    display: block;
    margin: 4px auto;
    width: 155px;
    height: 132px;
}

/* Clients section */
.clients-container{
    position: relative;
    height: 250px;
    margin-top: 30px;
}
.clients-container::before{
    content: "";
    background: url("../foodbackground.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.43;
}
.diff img{
    height: 133px;
    width: 133px;
}
.partners{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    padding: 4px 23px;
}
.partners img{
    display: block;
    margin: 0px auto;
}

/* Contact Us */
/* .forms form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 50%;
    /* border: 4px solid red;  */
/* }  */

/* .forms{
    display: flex;
    flex-direction: column;
} */

.support h3{
    margin-top: 67px;
}

.support-container{
    position: relative;
    height: 480px;
}

.support-container::before{
    content: "";
    background: url("../costomercare.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.24;
}
.form-container{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 50%;
}
form{
    display: block;
    margin: 4px auto;
    padding: 23px 0px;
}
form input{
    padding: 10px;
    border-radius: 6px;
}
form label{
    padding: 6px;
}

/* footer */

footer{
    background-color: black;
    color: white;
    font-size: 1.1rem;
}



/* Utility classes */
.h-primary{
    font-size: 2rem;
}
.h-secondary{
    font-size: 1.5rem;
}
.btn{
    margin: 12px auto;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover{
    background-color: rgb(91, 89, 89);
    color: white;
}
.center{
    text-align: center;
}